* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  border: 1px solid green;
}
body {
  background-color: green;
  font-family: 'Raleway', sans-serif;
  background: url('https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')
    no-repeat fixed center center/cover;
  --oxford-blue: #030027ff;
  --light-slate-gray: #648ca6ff;
  --gray-blue: #c9e2ef;
  padding: 5px 0px;
  max-width: 800px;
  margin: 0 auto;
}
main {
  font-weight: 300;
  background-color: #fff;
}
/* Change this */
img {
  display: inline-block;
  height: 13rem;
}
/* Header */
header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: lighter;

  max-width: 800px;
  height: 10vh;
  margin: 0 auto;
  color: #c9e2ef;
}
header h1 {
  flex: 1;
  font-weight: lighter;
  padding: 20px;
}
header nav ul {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  flex-direction: row;
  justify-self: space-between;
}
header nav ul li {
  display: flex;
  padding-right: 20px;
}
header nav a {
  color: #c9e2ef;
  text-decoration: none;
}
header nav a:hover {
  color: #f89dc0;
}
/* Banner */
.hero-banner {
  background: url('https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')
    no-repeat fixed center center/cover;
  display: flex;
  height: 70vh;
  max-width: inherit;
  justify-content: center;
  align-content: center;
}
.hero-banner p {
  font-size: 3rem;
  font-weight: lighter;
  color: #5f86a080;
}
.hero-banner::before {
  background-color: rgb(0, 0, 0, 0.6);
}

/* Sections */

section {
  text-indent: 1rem;
  padding: 20px;
  min-height: 300px;
}
.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.projects h2 {
  display: block;
}
.project {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  max-width: 30vw;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
}
.project img {
  display: flex;
  width: 100%;
}
#about_me,
#bch {
  background-color: #648ca633;
}

#skills img {
  padding-right: 20px;
  float: left;
}

#about_me img,
#bch img {
  padding-left: 20px;
  float: right;
}

/* Footer */
footer {
  background-color: #030027ff;
  font-size: 0.8rem;
  font-weight: lighter;
  text-align: center;
  color: #648ca6ff;
  height: auto;
  padding: 20px 20px;
  max-width: 800px;
  margin: 0 auto;
}
footer a {
  font-weight: lighter;
  color: #f89dc0;
  text-decoration: none;
}

footer a:hover {
  color: #f89dc0;
}
footer fieldset {
  display: block;
  margin: 10px auto;
  border: none;
}
footer fieldset h3 {
  margin: 10px auto;
}
footer fieldset label {
  display: inline-block;
  width: 100px;
  text-align: left;
  font-size: small;
  margin-left: 0px;
}
footer fieldset input {
  display: inline-block;
  width: 180px;
  border: transparent;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;
}
footer fieldset textarea {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  border: transparent;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;
}
footer button {
  display: inline-block;
  padding: 10px 25px;
  background-color: #f89dc0;
  border: 3px solid #f89dc0;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  font-size: small;
  margin: 10px auto;
}
.validation {
  margin: 10px;
}
/* Go up button */
.go_up {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #648ca6ff;
  color: #648ca6ff;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 30px;
  margin-left: 90%;
  position: fixed;
}
